@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
    h2 {
        font-family: 'KBO-Dia-Gothic_bold';

    }
    #container {
        position: relative;
        display: inline-block;
        background-color: #f1f1f1; /* 배경색  */
        padding: 20px; /* 내부 여백 */
    }

    #image {
        display: block;
        width: 300px; 
    }

    .text-northwest {
        font-family: 'KBO-Dia-Gothic_bold';
        position: absolute;
        top: 0;
        left: 0;
        color: #f0a4c2; /* 글자색  */
        background-color: palevioletred; /* 배경색 */
        padding: 5px; /* 내부 여백 */
        
    }

    .text-east {
        font-family: 'KBO-Dia-Gothic_bold';
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        color: #f0a4c2; /* 글자색 */
        padding: 5px; /* 내부 여백 */
        background-color: palevioletred; /* 배경색 */
        
    }

    .text-south {
        font-family: 'KBO-Dia-Gothic_bold';
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #f0a4c2; /* 글자색 */
        padding: 5px; /* 내부 여백 */
        background-color: palevioletred; /* 배경색 */
        border: 2px solid;
        
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 24px;
        }
    
        #floatingBanner {
            display: none;
        }
    
        .container {
            padding: 10px;
        }
    
        .button {
            font-size: 14px;
        }
    }